.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 15px;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf");
}

body {
    background-color: hsl(0, 0%, 94%);
    font-family: poppins;
    display: grid;
    place-content: center;
    height: 100vh;
}


.parent {
    width: 450px;
    height: 400px;
    background-color: white;
    border-radius: 15px 15px 135px 15px;
    padding: 35px;
    display: flexbox;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.input {
    width: 100px;
}

input[type="text"] {
    width: 90px;
    height: 40px;
    padding: 15px;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 5px;
    margin-top: 3px;
}

input[placeholder] {
    font-weight: 700;
    font-size: 20px;
}

label {
    letter-spacing: 2px;
    font-weight: 700;
    color: hsl(0, 1%, 44%);
    font-size: 12px;
}

p {
    font-size: 8px;
    color: hsl(0, 100%, 67%);
    font-style: italic;
    font-weight: 800;
    margin-bottom: 20px;

}

input[type="text"]:focus {
    outline: 0;
}

button {
    width: 60px;
    height: 60px;
    border-style: none;
    border-radius: 60px;
    background-color: hsl(259, 100%, 65%);
    position: relative;
    top: -40px;
    left: 320px;
}

@font-face {
    font-family: "poppins-bold";
    src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

.contents {
    font-family: poppins-bold;
    font-size: 50px;
    margin-top: -50px;
}

.contents span {
    color: hsl(259, 100%, 65%);
    letter-spacing: 5px;
}

@media(max-width:480px) {
    body {
        height: 120vh;
    }

    .parent {
        width: 350px;
        height: 500px;

    }

    input[type="text"] {
        width: 70px;
    }

    .input {
        width: 90px;
    }

    p {
        font-size: xxx-small;
        margin-bottom: 40px;
    }

    button {
        left: 110px;
        margin-bottom: 40px;

    }
}

@media(max-width:375px) {
    body {
        height: 150vh;
    }

    .parent {
        width: 300px;
    }

    input[type="text"] {
        width: 65px;
        font-size: 12px;
    }

    .input {
        width: 75px;
    }

    button {
        left: 90px;
    }

    .contents {
        font-size: 40px;
    }
}

@media(max-width:330px) {

    .parent {
        width: 250px;
        height: 430px;
        margin: auto;
    }

    input[type="text"] {
        width: 50px;
        height: 30px;
        font-size: 12px;
        padding-right: 0px;
        padding-left: 5px;
    }

    .input {
        width: 60px;
    }

    button {
        left: 65px;
    }

    .contents {
        font-size: 32px;
    }

    .attribution {
        font-size: 9px;
    }
}